/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&family=Montserrat:wght@400;500;600;700;800&display=swap');
@import './scss/variable.scss';
@import './scss/mixin.scss';

html, body { height: 100%; }
body { 
    margin: 0; font-family: 'Montserrat', sans-serif;
    background-color: $body-bg;
}
.fira{
    font-family: 'Fira Code', monospace;
}
.mat-button{
    @include fira-font;
}
.sec-padding{
    padding: 60px 0;
}
.up{
    top: -120px;
    @include transistion(0.5s);
}
.down{
    top: 0px;
    @include transistion(0.5s);
}


@media (min-width: 992px) and (max-width:1300px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 850px;
    }
    .projects .img-wrapper {
        padding-top: 80px;
    }
}

@media (min-width: 768px) and (max-width:992px) {
    .projects .img-wrapper {
        padding-top: 150px;
    }
}

@media (max-width:890px) {
    .mail-wrapper {
        display: none;
    }
    .copyrights {
        p{
            padding-bottom: 20px!important;
        }
    }
    .left-mail-wrapper{
        .wrapper {
            position: unset!important;
            width: 100%!important;
            ul{
                display: inline-block!important;
                width: 100%;
                text-align: center;
                padding-bottom: 20px!important;
                &::after{
                    display: none!important;
                }
                li{
                    display: inline-block;
                }
            }
        }
    }
}
