$white : #ffffff;
$body-bg : #0a192f;
$text-color: rgb(204,214,246);
$banner-1: rgb(100,255,218);
$banner-3: rgb(136,146,176);
$border-1: rgb(35,53,84);
$border-2: rgb(17,34,64);
$shadow: rgba(2,12,27,0.7);
$other: #ccd6f6;
$other-1: rgb(168,178,209);


$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-25: 25px;
$font-32: 32px;
$font-50: 50px;
$font-80: 80px;


$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$weight-800: 800;