<!-- banner start -->
<section class="banner">
    <div class="container">
        <div class="col-12">
            <h1 data-aos="fade-down" data-aos-duration="500" data-aos-delay="800">Hi, my name is</h1>
            <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="1000">Sankar S</h2>
            <h3 data-aos="fade-down" data-aos-duration="500" data-aos-delay="1200">I build things for the web.</h3>

            <p class="col-lg-7 col-12 px-0 mt-4" data-aos="fade-down" data-aos-duration="500" data-aos-delay="1400">I'm a UI Developer with a demonstrated history of working in the software engineering industry, with end-to-end experience in developing, testing, and maintaining enterprise software applications.</p>
            <button class="py-2 px-4 mt-4" mat-button color="primary" (click)="goWork()" data-aos="fade-down" data-aos-duration="500" data-aos-delay="1600">Check out my projects!</button>
        </div>
    </div>
</section>
<!-- banner end -->

<!-- about start -->
<section class="about sec-padding" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-duration="1000">
                <h2 class="title"><span>About Me</span></h2>
                <p>Hello! My name is <span>Sankar</span> and currently work as a Senior Software Engineer in Encora Inc.</p>
                <p>I'm Having <span>5+ years of experience</span> working in a corporate environment as a Front-end and UI developer. Strong technical skills in complex web app development including web-based applications.
                </p>
                <p>Experience in <span>system analysis, design, workflow architecture, development, testing, and maintenance</span> of web-based applications.</p>
                <p>And I have good experience in leveraging JavaScript to build Responsive Websites, Hybrid Mobile Apps, Web Apps, and interactive features.</p>
                <p>Here are a few technologies I’ve been working with recently:</p>
            </div>
            <div class="col-lg-6 col-md-6 col-12" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
                <div class="wrapper">
                    <img src="../../assets/1602934187147.jpeg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                <div class="row skills-set">
                    <div class="col-12 col-md-4 col-lg-3">
                        <h3>Programming Language</h3> 
                        <ul>
                            <li>JavaScript (ES6+)</li>
                            <li>TypeScript</li>
                            <li>Rest API</li>
                            <li>JQuery</li>
                            <li>JSON</li>
                            <li>Ajax</li>
                        </ul>                   
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <h3>Web Technologies</h3> 
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>SASS/SCSS</li>
                            <li>Bootstrap</li>
                        </ul>                   
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <h3>Frameworks</h3> 
                        <ul>
                            <li>Angular 2+</li>
                            <li>Angular Material</li>
                            <li>D3.js, Chart.js</li>
                            <li>MySql</li>
                        </ul>                   
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <h3>Methods & Tools</h3> 
                        <ul>
                            <li>Accessibility Testing</li>
                            <li>Unit Testing</li>
                            <li>Github</li>
                            <li>Intellij Idea</li>
                        </ul>                   
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <h3>Others</h3> 
                        <ul>
                            <li>SEO</li>
                            <li>Browser Compatibility</li>
                            <li>Responsive Development</li>
                            <li>Azure</li>
                        </ul>                   
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <h3>Design Skills</h3> 
                        <ul>
                            <li>Photoshop</li>
                            <li>Figma</li>
                            <li>Zeplin</li>
                        </ul>                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about end -->

<!-- experence start -->
<section class="works sec-padding mt-lg-5 mt-0" id="experience" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-12 offset-lg-1">
                <h2 class="title pb-4 title-2"><span>Where I’ve Worked</span></h2>

                <div class="row">
                    <div class="col-12 col-md-3 col-lg-3">
                      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" mat-button id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Encora Inc</a>
                        <a class="nav-link" mat-button id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Testsigma</a>
                        <a class="nav-link" mat-button id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">GoProtoz</a>
                        <a class="nav-link" mat-button id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Spider Web India</a>
                      </div>
                    </div>
                    <div class="col-12 col-md-9 col-lg-9">
                      <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <h4>Senior Software Engineer @ <a href="https://www.encora.com/" rel="noopener noreferrer"  target="_blank">Encora Inc</a></h4>
                            <h5>June 2021 - Present</h5>
                            <ul>
                                <li>Write modern, performant, maintainable code for a diverse array of client and internal projects.</li>
                                <li>Work with a variety of different languages, platforms, frameworks such as JavaScript, TypeScript, Angular, and Netlify.</li>
                                <li>Communicate with multi-disciplinary teams of engineers, designers, producers, and clients on a daily basis.</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <h4>UI Developer @ <a href="https://www.testsigma.com/" rel="noopener noreferrer"  target="_blank">Testsigma</a></h4>
                            <h5>April 2020 - June 2021</h5>
                            <ul>
                                <li>Developed and maintained applications using TypeScript, MVC, Angular 2+, Docker, Tomcat, Apache Web Server, HTTP Server, HTML5, SASS/SCSS by following the agile-sprint methodology.</li>
                                <li>Involved in writing application-level code to interact with APIs, and web services using Ajax, JSON, and angular resources.</li>
                                <li>Development process followed by Software Design, Development, Analysis, Documentation, debugging, Testing, and Implementation.</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <h4>Front End Developer  @ <a href="https://www.goprotoz.com/" rel="noopener noreferrer"  target="_blank">GoProtoz</a></h4>
                            <h5>November 2017 - March 2020</h5>
                            <ul>
                                <li>Developed the Front End User Interface using HTML, JavaScript, jQuery, and SASS/SCSS.</li>
                                <li>Enhancement implementation in client application as per requirement using Angular 7, JavaScript /TypeScript, HTML5, SASS, Bootstrap.</li>
                                <li>Build website created with SEO audit, Keyword use, page optimization, Website Audit, and Website Performance.</li>
                                <li>Build a website with Mobile responsive to all browsers using Media Query.</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <h4>Web Developer  @ <a href="https://www.spiderwebindia.com/" rel="noopener noreferrer"  target="_blank">Spider Web India</a></h4>
                            <h5>April 2017 - November 2017</h5>
                            <ul>
                                <li>Developed and maintained code for in-house and client websites primarily using HTML, CSS, Sass, JavaScript, and jQuery.</li>
                                <li>Manually tested sites in various browsers and mobile devices to ensure cross-browser compatibility and responsiveness.</li>
                                <li>Implemented page designs in standards-compliant dynamic HTML and CSS.</li>
                            </ul>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<!-- experince end -->

<!-- projects start -->
<section class="projects sec-padding mt-lg-5 mt-0" id="work">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-12">
                <h2 class="title title-3 pb-5"><span>Some Things I’ve Built</span></h2>
            </div>
        </div>
        <div class="row additional-space" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-lg-5 col-md-4 col-12">
                <div class="img-wrapper left">
                    <img src="../../assets/sankar-covid-tracker.netlify.app.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-md-8 col-12 text-lg-right">
                <div class="wrapper">
                    <h4>Featured Project</h4>
                    <h5><a href="https://sankar-covid-tracker.netlify.app/" target="_blank">Covid -19 Tracker</a></h5>
                    <div class="inner-wrapper">
                        <p>Covid Tracker website with the latest information on Covid data for all the countries. And implemented with Visualization charts, graphs, searching countries, searching covid status based on countries. Implemented global Covid data with all the vital information details for all the countries.</p>
                    </div>
                    <ul class="project-tech-list">
                        <li>Angular 13</li>
                        <li>Angular Material</li>
                        <li>TypeScript</li>
                        <li>Rest API</li>
                        <li>High Charts - Pie-Chart</li>
                        <li>Line Chart</li>
                        <li>RXJS</li>
                        <li>HTML</li>
                        <li>SCSS</li>
                        <li>Bootstrap 5</li>
                    </ul>
                    <a class="extrenal-link" href="https://sankar-covid-tracker.netlify.app/" aria-label="View Project" rel="noopener noreferrer" target="_blank">
                        View Project<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><title>View Project</title><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="row additional-space flex-column-reverse flex-md-row flex-lg-row" data-aos="fade-up" data-aos-duration="1000">
            
            <div class="col-lg-7 col-md-8 col-12 text-lg-left">
                <div class="wrapper">
                    <h4>Featured Project</h4>
                    <h5><a href="https://sankar-shopping-demo.netlify.app/" target="_blank">Ecommerce Shopping Website</a></h5>
                    <div class="inner-wrapper">
                        <p>Shopping website with a list of products, details, cart, and favorite pages. And implemented with sorting, searching products, searching categories based on products, adding/removing from cart, quantity add/remove type, and can add/remove favorite items. Used browser Local Storage for storing the cart and favorite product information.</p>
                    </div>
                    <ul class="project-tech-list ul-left">
                        <li>Angular 13</li>
                        <li>Angular Material</li>
                        <li>TypeScript</li>
                        <li>Rest API</li>
                        <li>Angular Pipe</li>
                        <li>Ngx-Spinner Ngx Toaster</li>
                        <li>RXJS</li>
                        <li>HTML</li>
                        <li>SCSS</li>
                        <li>Bootstrap 5</li>
                    </ul>
                    <a class="extrenal-link" href="https://sankar-shopping-demo.netlify.app/" aria-label="View Project" rel="noopener noreferrer" target="_blank">
                        View Project<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><title>View Project</title><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-4 col-12">
                <div class="img-wrapper right">
                    <img src="../../assets/sankar-shopping-demo.netlify.app.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

        <div class="row additional-space" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-lg-5 col-md-4 col-12">
                <div class="img-wrapper left">
                    <img src="../../assets/sankar-weather-info.netlify.app.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-md-8 col-12 text-lg-right">
                <div class="wrapper">
                    <h4>Featured Project</h4>
                    <h5><a href="https://sankar-weather-info.netlify.app/" target="_blank">Weather Info Website</a></h5>
                    <div class="inner-wrapper">
                        <p>Weather Info website with the latest information about the global weather details and able to see the latest weather news. Auto-detect the user location and will show the current weather details with 24hrs weather info, and Forecast for the next three days' weather also we can able to see it.</p>
                    </div>
                    <ul class="project-tech-list">
                        <li>Angular 13</li>
                        <li>Angular Material</li>
                        <li>TypeScript</li>
                        <li>Rest API</li>
                        <li>Detect user location</li>
                        <li>Ngx-Spinner Ngx Toaster</li>
                        <li>RXJS</li>
                        <li>HTML</li>
                        <li>SCSS</li>
                        <li>Bootstrap 5</li>
                    </ul>
                    <a class="extrenal-link" href="https://sankar-weather-info.netlify.app/" aria-label="View Project" rel="noopener noreferrer" target="_blank">
                        View Project<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><title>View Project</title><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="row additional-space flex-column-reverse flex-md-row flex-lg-row" data-aos="fade-up" data-aos-duration="1000">
            
            <div class="col-lg-7 col-md-8 col-12 text-lg-left">
                <div class="wrapper">
                    <h4>Featured Project</h4>
                    <h5><a href="https://sankar-web-streaming.netlify.app/" target="_blank">Web Streaming App</a></h5>
                    <div class="inner-wrapper">
                        <p>Movies and Tv Shows Info app with the latest information about the movies and can see additional information about the Movies. Trending, Popular, Recent, Upcoming movies and Tv shows we can see. Using the search option we can search and see any movie information, using Moviedb API for fetching the information.</p>
                    </div>
                    <ul class="project-tech-list ul-left">
                        <li>Angular 13</li>
                        <li>Angular Material Prime NG</li>
                        <li>TypeScript</li>
                        <li>Rest API</li>
                        <li>Detect user location</li>
                        <li>HTTP InterCeptors Web Token</li>
                        <li>RXJS</li>
                        <li>HTML</li>
                        <li>SCSS</li>
                        <li>Bootstrap 5</li>
                    </ul>
                    <a class="extrenal-link" href="https://sankar-web-streaming.netlify.app/" aria-label="View Project" rel="noopener noreferrer" target="_blank">
                        View Project<svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><title>View Project</title><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-4 col-12">
                <div class="img-wrapper right">
                    <img src="../../assets/sankar-web-streaming.netlify.app.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- projects end -->

<!-- contact start -->
<section class="contact sec-padding mt-lg-5 mt-0 text-center" id="contact" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>What’s Next?</h3>
                <h2>Get In Touch</h2>
                <p class="col-lg-6 col-md-8 col-12 mx-auto">Although I’m not currently looking for any new opportunities, my inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!</p>
                <a class="px-5 py-2 mt-5" mat-button href="mailto:sssankarsam@gmail.com" rel="noopener noreferrer" target="_blank">Say Hello!</a>
            </div>
        </div>
    </div>
</section>
<!-- contact end -->

<!-- copyrights -->
<div class="col-12 text-center copyrights">
    <p><a class="text-white" href="https://sankarsans.github.io/">@https://sankarsans.github.io/</a></p>
</div>

<!-- right email start -->
<div class="mail-wrapper">
   <div class="inner-wrapper">
    <a href="mailto:sssankarsam@gmail.com">sssankarsam@gmail.com</a>
   </div>
</div>
<!-- right email end -->

<!-- left email start -->
<div class="left-mail-wrapper">
    <div orientation="left" class="wrapper">
        <ul class="pl-0">
            <li><a href="https://www.linkedin.com/in/sankar-ui-developer/" aria-label="Linkedin" target="_blank"
                rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-linkedin">
                    <title>LinkedIn</title>
                    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                    <rect x="2" y="9" width="4" height="12"></rect>
                    <circle cx="4" cy="4" r="2"></circle>
                </svg></a></li>
            <li><a href="https://github.com/sankarsans" aria-label="GitHub" target="_blank" rel="noreferrer">
                <svg
                        xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-github">
                        <title>GitHub</title>
                        <path
                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                        </path>
                    </svg></a></li>
            <!-- <li><a href="https://www.instagram.com/bchiang7" aria-label="Instagram" target="_blank"
                    rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-instagram">
                        <title>Instagram</title>
                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                    </svg></a></li> -->
            <li><a href="https://twitter.com/sssankarsam/" aria-label="Twitter" target="_blank" rel="noreferrer"><svg
                        xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-twitter">
                        <title>Twitter</title>
                        <path
                            d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                        </path>
                    </svg></a></li>
           
            <li><a href="https://codepen.io/sankarsam" aria-label="Codepen" target="_blank" rel="noreferrer"><svg
                        xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-codepen">
                        <title>CodePen</title>
                        <polygon points="12 2 22 8.5 22 15.5 12 22 2 15.5 2 8.5 12 2"></polygon>
                        <line x1="12" y1="22" x2="12" y2="15.5"></line>
                        <polyline points="22 8.5 12 15.5 2 8.5"></polyline>
                        <polyline points="2 15.5 12 8.5 22 15.5"></polyline>
                        <line x1="12" y1="2" x2="12" y2="8.5"></line>
                    </svg></a></li>
        </ul>
    </div>
</div>
 <!-- left email end -->

